infra/n8n/n8n/workflows/wf-03-extractor.json
{
  "name": "NETS WF-03 Extractor",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE nets_task_queue SET status='extracting', updated_at=now() WHERE task_id='{{ $json.task_id }}'",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Mark Extracting",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {"postgres": {"id": "1", "name": "NETS Postgres"}}
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/home/node/nets/frameworks/system/extraction.md"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Read Extraction Prompt",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $('Start').item.json.pdf_uri }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Read PDF",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "const task = $('Start').item.json;\nconst systemPrompt = $('Read Extraction Prompt').item.json.data;\nconst pdfText = $('Read PDF').item.json.data || 'PDF binary - extract text content';\n\nconst payload = {\n  model: 'kimi-k2-0711-preview',\n  messages: [\n    {\n      role: 'system',\n      content: systemPrompt\n    },\n    {\n      role: 'user',\n      content: `CONTEXT: subject=${task.subject}, grade=${task.grade}, lang=${task.lang}\\n\\nINPUT PDF CONTENT:\\n${pdfText.substring(0, 50000)}\\n\\nTASK: Extract the FIRST THEME/CHAPTER only. Return JSON matching this schema exactly: ${JSON.stringify(require('fs').readFileSync('/home/node/nets/frameworks/schemas/lesson.json', 'utf8'))}`\n    }\n  ],\n  response_format: { type: 'json_object' },\n  temperature: 0.3,\n  max_tokens: 8000\n};\n\nreturn [{ json: { payload, task_id: task.task_id, lesson_id: task.lesson_id } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Compose Extraction Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.moonshot.cn/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer sk-pJEISM5dnKSswgqkChu3vpLAAXZS1Yx0GdqXQdcpESZvuC2X"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.payload) }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Call Kimi API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nconst taskData = $('Compose Extraction Prompt').item.json;\nconst startTime = Date.now();\n\nlet lessonJson;\ntry {\n  lessonJson = JSON.parse(response.choices[0].message.content);\n} catch(e) {\n  throw new Error('Invalid JSON from model: ' + e.message);\n}\n\nconst schema = JSON.parse(require('fs').readFileSync('/home/node/nets/frameworks/schemas/lesson.json', 'utf8'));\nconst requiredFields = schema.required || [];\nconst missingFields = requiredFields.filter(f => !lessonJson[f]);\nif (missingFields.length > 0) {\n  throw new Error('Missing required fields: ' + missingFields.join(', '));\n}\n\nconst tokensIn = response.usage?.prompt_tokens || 0;\nconst tokensOut = response.usage?.completion_tokens || 0;\nconst costUsd = (tokensIn * 0.60 + tokensOut * 2.50) / 1000000;\nconst cacheHitPct = response.usage?.prompt_cache_hit_tokens ? (response.usage.prompt_cache_hit_tokens / tokensIn * 100) : 0;\n\nconst mdContent = JSON.stringify(lessonJson, null, 2);\nconst mdPath = `/home/node/nets/nets-output/${taskData.lesson_id}_lesson.json`;\n\nreturn [{ json: {\n  lesson_json: lessonJson,\n  md_path: mdPath,\n  md_content: mdContent,\n  task_id: taskData.task_id,\n  lesson_id: taskData.lesson_id,\n  tokens_in: tokensIn,\n  tokens_out: tokensOut,\n  cost_usd: costUsd,\n  cache_hit_pct: cacheHitPct,\n  latency_ms: Date.now() - startTime\n}}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Validate & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.md_path }}",
        "dataPropertyName": "md_content"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Save lesson.json",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO nets_lessons (lesson_id, subject, grade, lang, pdf_uri, md_uri, extracted_at) VALUES ('{{ $('Validate & Parse').item.json.lesson_id }}', '{{ $('Start').item.json.subject }}', {{ $('Start').item.json.grade }}, '{{ $('Start').item.json.lang }}', '{{ $('Start').item.json.pdf_uri }}', '{{ $('Validate & Parse').item.json.md_path }}', now()) ON CONFLICT (lesson_id) DO UPDATE SET md_uri=EXCLUDED.md_uri, extracted_at=now()",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Save to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1780, 300],
      "credentials": {"postgres": {"id": "1", "name": "NETS Postgres"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO nets_session_log (task_id, stage, event, payload) VALUES ('{{ $('Validate & Parse').item.json.task_id }}', 'extract', 'success', '{\"tokens_in\": {{ $('Validate & Parse').item.json.tokens_in }}, \"tokens_out\": {{ $('Validate & Parse').item.json.tokens_out }}, \"cost_usd\": {{ $('Validate & Parse').item.json.cost_usd }}, \"cache_hit_pct\": {{ $('Validate & Parse').item.json.cache_hit_pct }}}'::jsonb)",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Log Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2000, 300],
      "credentials": {"postgres": {"id": "1", "name": "NETS Postgres"}}
    }
  ],
  "connections": {
    "Start": {"main": [[{"node": "Mark Extracting", "type": "main", "index": 0}]]},
    "Mark Extracting": {"main": [[{"node": "Read Extraction Prompt", "type": "main", "index": 0}, {"node": "Read PDF", "type": "main", "index": 0}]]},
    "Read Extraction Prompt": {"main": [[{"node": "Compose Extraction Prompt", "type": "main", "index": 0}]]},
    "Read PDF": {"main": [[{"node": "Compose Extraction Prompt", "type": "main", "index": 0}]]},
    "Compose Extraction Prompt": {"main": [[{"node": "Call Kimi API", "type": "main", "index": 0}]]},
    "Call Kimi API": {"main": [[{"node": "Validate & Parse", "type": "main", "index": 0}]]},
    "Validate & Parse": {"main": [[{"node": "Save lesson.json", "type": "main", "index": 0}]]},
    "Save lesson.json": {"main": [[{"node": "Save to DB", "type": "main", "index": 0}]]},
    "Save to DB": {"main": [[{"node": "Log Success", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "active": false
}
